.title-image {
	position: relative;
	top: 0px;
}

.normal-mode {
  border-color: blue;
  border-style: groove;
	border-width: 5px;
  position: relative;
  top: 10px;
  width: 50%;
}

.productive-mode {
  border-color: red;
  border-style: groove;
  border-width: 5px;
	position: relative;
	top: 20px;
	width: 50%;	
}

#footer {
	position: relative;
	top: 30px;
	width: 40%;
}

#credits {
	position: relative;
	top: 60px;
}

#info-message {
	color: green;
	opacity: 0;	
}
